<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Wine Quality Testing</title>
  <link rel="stylesheet" href="../assets/css/style.css" />
</head>
<body>
    <header>
      <h1>Wine Quality Testing</h1>
      <nav>
        <!-- Optional navigation buttons -->
      </nav>
    </header>
  
    <main class="home-container container">
      <h2>Select Input Method</h2>
      <div class="button-group">
        <a href="model_pred_csv.html" class="btn">CSV Input</a>
        <a href="model_pred_manual.html" class="btn">Manual Input</a>
      </div>
    </main>
  
    <footer>
      <p>&copy; 2025 My Wine Quality App</p>
    </footer>
  </body>
  
</html>
